h1 {
    font-size: 28px;
    font-family: Monaco, Courier, monospace;
    color: #618ad2;
}
a {
    font-style: oblique;
    color: indigo;
}

p {
    font-style: italic;
    color: violet;
}

#text {
    font-style: inherit;
    color: maroon;
    font-family: Monaco;
}

caption{
    font-size: 28px;
    font-family: Monaco, Courier, monospace;
    color: #618ad2;
}