.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

body {
    background-color: #2196F3;
}

.text {
    color: #ffffff;
    text-shadow: #757575;
    font-family: "URW Gothic L";
    font-size: 40pt;

}