* {
	margin: 0px;
	padding: 0px;
}


div.header {
	position: fixed;

	top: 0px;
	width: 100%;
}


div.header-name {
	float: left;

	margin: 10px;
}


div.header-menu {
	float: right;
}


a.menu-button {
	display: block;
	float: left;

	margin: 10px;
	padding: 5px 10px;

	text-decoration: none;
	text-transform: uppercase;
}


div.board {
	width: 90%;
	margin: 100px auto 50px;

	word-wrap: break-word;
}


div.board-ad {
	margin-bottom: 25px;
}


div.board-ad-header {
	margin: 10px 10px 15px 10px;
}


div.board-ad-header-name {
	text-transform: uppercase;
}


div.board-ad-header-info {
	margin: 0px 0px 5px 10px;
}


div.board-ad-content {
	margin: 10px;
}