* {
	font-family: "Comic Sans MS", cursive, sans-serif;
}


body {
	background-color: rgb(236, 236, 236);
}


div.header {
	background-color: rgba(236, 236, 236, 0.5);
	border-bottom: 1px solid rgb(213, 221, 223);
}


div.header-name {
	font-size: 16pt;
	color: rgb(26, 82, 118);
}


a.menu-button {
	background-color: rgb(40, 116, 166);
	color: rgb(236, 236, 236);

	transition: .4s ease-out;
}


a.menu-button:hover {
	background-color: rgb(26, 82, 118);
}


div.board-ad {
	background-color: rgb(247, 247, 247);
	color: rgb(27, 38, 49);
	border: 1px solid rgb(247, 247, 247);
	border-radius: 5px;
}


div.board-ad-header {
	border-bottom: 1px solid rgb(213, 221, 223);
}


div.board-ad-header-name {
	font-size: 14pt;
}


div.board-ad-header-info {
	font-size: 9pt;
}